@import play.api.Configuration
@(title: String)(content: Html)(implicit flash: Flash, lang: Lang, message: Messages, configuration: Configuration)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@
        @*<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>*@
        @*<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"> </script>*@
    </head>
    <body>
        <div class="screenshot">
            <div class ="navbar navbar-fixed-top">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
                </div>
            </div>
        </div>

        <div class="container">
            @content

            <footer>@debug()</footer>
        </div>

    </body>
</html>
