@import play.api.Configuration
@(title: String)(content: Html)(implicit flash: Flash, lang: Lang, message: Messages, configuration: Configuration)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="screenshot">
            <div class ="navbar navbar-fixed-top">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
                    @*<ul class="nav">*@
                        @*<li class="divider-vertical"></li>*@
                        @*<li class="active">*@
                            @*<a href="@routes.Products.list()">@Messages("products.list.navigation")</a>*@
                        @*</li>*@
                    @*</ul>*@
                </div>
            </div>
        </div>
        <div class="container">
            @content
            <footer>@debug()</footer>
        </div>

    </body>
</html>
